th, td {
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
  //border-color: chartreuse;
}
.alert-danger{
    color: red;
  }
.show {
    display: block !important;
  }
  
